<%- include('head'); %>
<%- include('navbar'); %>

<div class="border-0">
    <div class="d-flex flex-column justify-content-center p-5 m-5">
        <h5 class="m-1"> Contact Us </h5>
        <input class="m-1" type="text" placeholder="Your Name" />
        <input class="m-1" type="email" placeholder="Your email address" />
        <textarea class="m-1" placeholder="Your message"></textarea>
        <button class="m-1" >Send Message</button>
        <span class="m-1">Thank you!</span>
    </div>
</div>