<%- include('head'); %>
<%- include('navbar'); %>

<div class="m-5">
       <h2>Project Details</h2>
       <div class="m-5">
            <ul>
                <li>Projet Name :</li>
                <li>Roll-No. : </li>
                <li>Semester : </li>
                <li>Project Details : </li>
                <li>Technology Used :</li>
            </ul>
       </div>
</div>