<nav class="bg-dark p-3">
    <ul class="nav justify-content-around">
        <li class="nav-item">
        <a href="/" class=".text-primary text-decoration-none">   Home  </a>
        </li>
        <li class="nav-item">
        <a href="/newproject" class=".text-primary text-decoration-none">   Add Project Details   </a>
        </li>
        <li class="nav-item">
        <a href="/projectdetails" class=".text-primary text-decoration-none">   Project Details   </a>
        </li>
        <li class="nav-item">
        <a href="/contact" class=".text-primary text-decoration-none">   Contact Us    </a>
        </li>
    </ul>
</nav>